body{
    margin: 0px;
}
 #container{
    width: 100%;
    height: 950px;
    background-color: darkgray;
}
 #heading{
    width: 100%;
    height:10%;
    background-color: aqua;
}
 #content_menu{
    width: 30%;
    height:80%;
    background-color: aquamarine;
    float: left;
}
 #content_body{
    width: 70%;
    height: 80%;
    background-color: blueviolet;
    float: left;
}
 #footing{
    width:100%;
    height:10%;
    background-color: black;
    clear: both;
}