
.image{
    border: 1px solid black;
    width: auto;
    height:auto;
    text-align: center;
    float: left;
    margin: 10px;
}
#content{
    margin: 5px auto;
    width: 50%;
    height: auto;
}
img{
    margin: 4px;
}
.text{
    margin-bottom: 4px;

}
a{
    target: "_blank";
}